.first {
    padding: 1px;
    margin: 2px;
    color: rgb(12, 12, 22);
    display: inline-block;
    line-height: 20px;
    text-align: left;
    flex-direction: row;
    justify-content: flex-end;
    }
  
    #f1 {
        margin-left: 98px;
        width: 50%;
    }
    #f2 {
        margin-left: 90px;
        width: 50%;
    }
    #f3 {
        margin-left: 62px;
        width: 50%;
    }

.b1 {
    padding-left: 5px;
    margin: 1px;
    color: rgb(12, 12, 22);
    display: inline-block;
    line-height: 20px;
    text-align: left;
    flex-direction: row;
    justify-content: flex-end;
}

#b1 {
    margin-left: 69px;
    width: 25%;
}
#b2 {
    margin-left: 82px;
    width: 25%;
}
#b3 {
    margin-left: 38px;
    width: 25%;
}

#b4 {
    margin-left: 108px;
    width: 25%;
}

#b5 {
    margin-left: 86px;
    width: 25%;
}

#b6 {
    margin-left: 86px;
    width: 25%;
}
#c1 {
    margin-left: 73px;
    width: 25%;
}
#c2 {
    width: 25%;
}
#c3 {
    margin-left: 66px;
    width: 25%;
}

#c4 {
    margin-left: 86px;
    width: 25%;
}
#c5 {
    margin-left: 20px;
    width: 20%;
}
#c6 {
    
    width: 4%;
}
#c7{
    margin-left: 89px;
    width: 4%;
}

#c8 {
    margin-left: 0px;
    width: 20%;
}
.Save {
    margin-left: 70%;
    color: rgb(0, 0, 0);
    background-color: rgb(129, 16, 16);
    width: 90px;
    height: 30px;
    font-size: 15px;
    font-family: sans-serif;
    font-style: normal;
}
.hr1 {
    width: 25%;
    margin-left: 1px;
    height: 10px;
    color: #000;
    background-color: rgb(0, 0, 0);
}
.d1 {
    margin-left: 20px;
}
#m1 {
    margin-left: 30px;
}
#m2 {
    margin-left: 70px;
}
.L {
    margin-right: 57px;
}
.hr3 {
    width: 74em;
}